doctype html
html
    head
        //title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(type="text/javascript", src="/javascripts/moment.js")
        script(type="text/javascript", src="/javascripts/bootstrap-datetimepicker.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
        script(type="text/javascript", src="/javascripts/angular.js")
        script(type="text/javascript", src="/javascripts/angular-resource.js")
        script(type="text/javascript", src="/javascripts/angular-route.js")
        script(type="text/javascript", src="/javascripts/todo1.js")
        script(type='text/javascript', src="/javascripts/calendar.js")

    body(ng-app="todo")
        block content
